OBJECT ORIENTED PROGRAMMING

In [110]:
class Calculator:
    def __init__(self, num1, num2):
        self.num1=num1
        self.num2=num2
    
    def sum(self):
        return self.num1 + self.num2

In [111]:
cal_obj = Calculator(10,4)

In [112]:
type (cal_obj)

__main__.Calculator

In [113]:
cal_obj.sum()

14

In [114]:
cal_obj2 = Calculator(55,7)
cal_obj2.sum()

62

In [115]:
class Calculator:
    def __init__(self, num1, num2):
        self.num1=num1
        self.num2=num2
    
    def p(self):
        return self.num1 * self.num2

In [116]:
class person:
    count = 0 #<class attribute

    def __init__(self, name: str, address:str = "Kathmandu"): #<constructor / initializer
        """
        creating a person class
        """
        self.name = name
        self.address = address

        person.count += 1
        
    def get_details(self): #instance method
       print(f"I am {self.name} from {self.address}")

    @classmethod
    def get_counted(cls): #< class method
       return cls.count
    @staticmethod
    def create_fullname(firstname, lastname): #< statis methods
       return f"{lastname},{firstname}"

In [117]:
student1 = person("yang")

In [118]:
student2 =person("reason","jhapa")

In [119]:
student1.get_details()

I am yang from Kathmandu

In [120]:
self.books = [
            ("The Alchemist", 25),
            ("The Da Vinci Code", 30),
            ("A Brief History of Time", 15),
            ("Angels & Demons", 0),
            ("The Grand Design", 0),
            ("1984", 19)
        ]

NameError: name 'self' is not defined

In [132]:
class library:

    def __init__(self, name: str, department: str = "science"):
        self.name = name
        self.department = department
        self.books_name=[
            ("The Alchemist", 25),
            ("The Da Vinci Code", 30),
            ("A Brief History of Time", 15),
            ("Angels & Demons", 0),
            ("The Grand Design", 0),
            ("1984", 19)
             ]
        
    
    def can_borrow(self,books_name):
        books_name=books_name.lower()
        status = [name for self.name, amount in self.books if name.lower() == books_name and amount>0]
        #for name, amount in self.books:
            #if name.lower() == books_name and amount>0:
        return "Can borrow" if status else "cant borrow"

In [ ]:
student1=library("aarya","science")

In [128]:
student1.can_borrow("The Alchemist")

AttributeError: 'person' object has no attribute 'can_borrow'

In [123]:
class StudentResult:
    def __init__(self, name: str, marks: list):
        self.name = name
        self.marks = marks

    def total(self):
        return sum(self.marks)

    def average(self):
        return self.total() / len(self.marks)

    def display(self):
        print(f"Student Name: {self.name}")
        print(f"Marks: {', '.join(map(str, self.marks))}")
        print(f"Total Marks: {self.total()}")
        print(f"Average Marks: {self.average()}")

In [124]:
student = StudentResult("Aarya", [88, 76, 91])
student.display()

Student Name: Aarya
Marks: 88, 76, 91
Total Marks: 255
Average Marks: 85.0